In [1]:
# librerias a importar

import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
archivos_csv = ["../data/Anio2019.csv", "../data/Anio2020.csv", "../data/Anio2021.csv", "../data/Anio2022.csv"]

# Lista para almacenar DataFrames de los archivos CSV
dataframes = []

# Lee y carga cada archivo CSV en un DataFrame
for archivo in archivos_csv:
    df = pd.read_csv(archivo, delimiter=";", encoding='latin1')
    dataframes.append(df)

# Concatena los DataFrames en uno solo
resultado = pd.concat(dataframes, ignore_index=True)

# Guarda el resultado en un nuevo archivo CSV
resultado.to_csv("../data/contaminacion.csv", index=False, sep=";")

In [3]:
contaminacion_ori = pd.read_csv('../data/contaminacion.csv', delimiter=";", encoding='latin1') #leo el archivo "contaminacion"

contaminacion = contaminacion_ori.copy() #hago una copia

contaminacion.head() #miro qué pinta tiene para empezar a limpiar

,Fecha,NMT,SituaciÃ¯Â¿Â½n,Ld,Le,Ln,LAeq24,LAS01,LAS10,LAS50,LAS90,LAS99,Nombre
0,ene-19,1,Paseo de Recoletos,"68,5","68,5","65,5","67,8","74,5","71,3","64,9","56,9",49,NaN
1,ene-19,2,Carlos V,"69,9","69,4","66,5","68,9","75,5",71,"67,4","60,7",54,NaN
2,ene-19,3,Plaza del Carmen,"62,7","60,6","60,9","61,8","69,9","63,7","57,5","51,6","49,1",NaN
3,ene-19,4,Plaza de EspaÃ¯Â¿Â½a,"65,5","65,3","61,4","64,5","72,5","66,7","62,8","55,5","47,9",NaN
4,ene-19,5,Barrio del Pilar,"61,6","63,3","57,2",61,"67,2","62,8",58,47,"43,1",NaN

In [4]:
contaminacion.columns #nombre de las columnas

Index(['Fecha', 'NMT', 'SituaciÃ¯Â¿Â½n', 'Ld', 'Le', 'Ln', 'LAeq24', 'LAS01',
       'LAS10', 'LAS50', 'LAS90', 'LAS99', 'Nombre'],
      dtype='object')

In [5]:
contaminacion.info() #info del df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488 entries, 0 to 1487
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha           1488 non-null   object
 1   NMT             1488 non-null   int64
 2   SituaciÃ¯Â¿Â½n  372 non-null    object
 3   Ld              1488 non-null   object
 4   Le              1488 non-null   object
 5   Ln              1488 non-null   object
 6   LAeq24          1488 non-null   object
 7   LAS01           1488 non-null   object
 8   LAS10           1488 non-null   object
 9   LAS50           1488 non-null   object
 10  LAS90           1488 non-null   object
 11  LAS99           1488 non-null   object
 12  Nombre          1116 non-null   object
dtypes: int64(1), object(12)
memory usage: 151.3+ KB

In [6]:
columnas_a_eliminar = ["Ld", "Le", "Ln", "LAS01", "LAS10", "LAS50", "LAS90", "LAS99", "Nombre", "NMT", "SituaciÃ¯Â¿Â½n"]

contaminacion = contaminacion.drop(columnas_a_eliminar, axis=1) #elimino toda la info que no me sirve

In [7]:
contaminacion = contaminacion.rename(columns={'LAeq24': 'contam_media'}) #renombro la columna

In [8]:
contaminacion.head()

    Fecha contam_media
0  ene-19         67,8
1  ene-19         68,9
2  ene-19         61,8
3  ene-19         64,5
4  ene-19           61

In [9]:
contaminacion = contaminacion[contaminacion['contam_media'] != "N/D"] #elimino las filas con N/D

In [10]:
contaminacion.info() #info actual, borré 52 filas de las que no tenía la medición

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1487
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha         1436 non-null   object
 1   contam_media  1436 non-null   object
dtypes: object(2)
memory usage: 33.7+ KB

In [11]:
contaminacion["contam_media"].unique()  #corroboración de que no tengo N/D

array(['67,8', '68,9', '61,8', '64,5', '61', '70,5', '66,2', '64,6',
       '68,3', '64,7', '60,2', '61,1', '60,9', '69,7', '60,6', '49,3',
       '65,8', '61,7', '62,3', '67,2', '56,6', '62,8', '58,5', '65,5',
       '57,5', '67,6', '69', '63,3', '68,1', '63,6', '57,4', '64,2',
       '61,3', '56,1', '57,1', '59,5', '66,3', '48,3', '65,7', '60,1',
       '67,1', '56,4', '59,2', '62,2', '54,1', '62,5', '66,4', '59,9',
       '56,3', '57', '67,4', '69,2', '70,1', '66', '64,3', '62,9', '61,4',
       '60,4', '56,7', '59,3', '48,9', '65,4', '58,8', '54,5', '61,9',
       '65', '56,5', '66,6', '62', '64', '60,7', '70,3', '64,4', '66,8',
       '63,4', '59', '63,9', '60,5', '59,1', '63,7', '49', '66,5', '61,6',
       '59,4', '54,8', '55,7', '56,9', '65,9', '65,1', '63,1', '58,2',
       '59,6', '48,4', '64,9', '65,3', '58,7', '60,8', '55,1', '66,9',
       '58,6', '66,1', '63,2', '58', '56,8', '60,3', '55,6', '61,2',
       '64,8', '71,7', '62,6', '69,3', '62,1', '63', '57,2', '47,2',
       '58,3', '60', '54', '57,9', '55,3', '55,4', '68', '58,9', '57,3',
       '58,1', '53,4', '63,5', '54,3', '54,7', '69,6', '68,6', '70',
       '63,8', '57,7', '59,7', '47,4', '55,9', '61,5', '56,2', '72,4',
       '69,1', '62,7', '70,8', '62,4', '47,9', '69,5', '71', '47', '55,5',
       '69,8', '71,2', '64,1', '49,5', '67,5', '67,3', '65,6', '67',
       '68,8', '70,4', '47,6', '56', '65,2', '59,8', '58,4', '53,7',
       '57,6', '53,3', '53,9', '54,6', '52,8', '52,5', '46,2', '52,9',
       '48,2', '54,9', '55,2', '54,2', '55,8', '48,7', '57,8', '54,4',
       '55', '53,6', '48,1', '53,8', '67,9', '68,2', '66,7', '68,4',
       '47,7', '67,0', '54,0', '52,4', '53,1', '48,5', '67,7', '47,3',
       '49,4', '47,5', '46,4', '53', '71,5', '48', '46,3', '69,9', '47,1',
       '69,4', '46,9', '72,8', '51,1', '72,9', '53,5', '68,5'],
      dtype=object)

In [12]:
contaminacion.head()

    Fecha contam_media
0  ene-19         67,8
1  ene-19         68,9
2  ene-19         61,8
3  ene-19         64,5
4  ene-19           61

In [13]:
# Divide la columna "Fecha" en "mes" y "año"
contaminacion[['mes', 'año']] = contaminacion['Fecha'].str.split('-', expand=True)

In [14]:
# Mapea los valores del mes a sus nombres abreviados
meses = {
    'ene': 'enero',
    'feb': 'febrero',
    'mar': 'marzo',
    'abr': 'abril',
    'may': 'mayo',
    'jun': 'junio',
    'jul': 'julio',
    'ago': 'agosto',
    'sep': 'septiembre',
    'oct': 'octubre',
    'nov': 'noviembre',
    'dic': 'diciembre'

}

contaminacion['mes'] = contaminacion['mes'].map(meses)

In [15]:
# Agrega "20" antes del año
contaminacion['año'] = '20' + contaminacion['año']

In [16]:
# Elimina la columna original "Fecha" 
contaminacion = contaminacion.drop('Fecha', axis=1)

In [17]:
contaminacion.head()

  contam_media    mes   año
0         67,8  enero  2019
1         68,9  enero  2019
2         61,8  enero  2019
3         64,5  enero  2019
4           61  enero  2019

In [18]:
# Convierte la columna "contam_media" a tipo numérico (ya que contiene comas en lugar de puntos)
contaminacion['contam_media'] = contaminacion['contam_media'].str.replace(',', '.', regex=True).astype(float)

In [19]:
# Agrupa por mes y calcula la media
contaminacion = contaminacion.groupby(['mes', 'año'])['contam_media'].mean().reset_index().round(1).astype(str)

In [20]:
contaminacion.head()

      mes   año contam_media
0   abril  2019         61.6
1   abril  2020         57.3
2   abril  2021         60.5
3   abril  2022         61.2
4  agosto  2019         60.1

In [21]:
contaminacion = contaminacion.sort_values(by=['año', 'mes']) #Para ordenar cronológicamente
contaminacion = contaminacion.reset_index(drop=True)

In [22]:
contaminacion.head()

         mes   año contam_media
0      abril  2019         61.6
1     agosto  2019         60.1
2  diciembre  2019         62.2
3      enero  2019         62.7
4    febrero  2019         61.9

In [23]:
meses_dict = {
    'enero': 1,
    'febrero': 2,
    'marzo': 3,
    'abril': 4,
    'mayo': 5,
    'junio': 6,
    'julio': 7,
    'agosto': 8,
    'septiembre': 9,
    'octubre': 10,
    'noviembre': 11,
    'diciembre': 12
}

In [24]:
contaminacion['mes_numero'] = contaminacion['mes'].map(meses_dict)

In [25]:
contaminacion = contaminacion.sort_values(by=['año', 'mes_numero'])
contaminacion = contaminacion.reset_index(drop=True)
contaminacion.drop('mes_numero', axis=1, inplace=True)  # Elimina la columna temporal

In [26]:
contaminacion.head()

       mes   año contam_media
0    enero  2019         62.7
1  febrero  2019         61.9
2    marzo  2019         61.7
3    abril  2019         61.6
4     mayo  2019         61.0

In [27]:
contaminacion.to_csv('contaminacion_limpo.csv', index=False)